In [1]:
import pandas as pd
import re
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('twcs.csv')
df['created_at'] = df['created_at'].apply(lambda x:dt.datetime.strptime(x,'%a %b %d %H:%M:%S +0000 %Y'))

In [3]:
df.shape

(2811774, 7)

In [12]:
df.head(10)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
5,6,sprintcare,False,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...,"5,7",8.0
6,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN
7,11,sprintcare,False,Tue Oct 31 22:10:35 +0000 2017,@115713 This is saddening to hear. Please shoo...,NaN,12.0
8,12,115713,True,Tue Oct 31 22:04:47 +0000 2017,@sprintcare You gonna magically change your co...,"11,13,14",15.0
9,15,sprintcare,False,Tue Oct 31 20:03:31 +0000 2017,@115713 We understand your concerns and we'd l...,12,16.0

In [36]:
df[df['tweet_id'].isin(list(range(11)))].sort_values(by='created_at')

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
6,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN
2314174,10,sprintcare,False,Tue Oct 31 21:45:59 +0000 2017,@115712 Hello! We never like our customers to ...,NaN,8.0
2314166,9,sprintcare,False,Tue Oct 31 21:46:14 +0000 2017,@115712 I would love the chance to review the ...,NaN,8.0
5,6,sprintcare,False,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...,"5,7",8.0
2314173,7,115712,True,Tue Oct 31 21:47:48 +0000 2017,@sprintcare the only way I can get a response ...,NaN,6.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0

In [139]:
(df.loc[5].response_tweet_id).split(',')

['5', '7']

In [141]:
type(df.loc[5].tweet_id)

numpy.int64

In [8]:
df['text'][0]

'@115712 I understand. I would like to assist you. We would need to get you into a private secured link to further assist.'

In [9]:
df['text'][1]

'@sprintcare and how do you propose we do that'

In [15]:
df.loc[df['tweet_id'] == 2811774]

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
2639412,2811774,AmazonHelp,False,Wed Nov 22 08:08:29 +0000 2017,@784063 失礼いたします。 Amazonでのご注文商品が届かずにお困りでしょうか？その...,2811773,2811775.0

In [16]:
a = df['author_id'].tolist()

In [18]:
a = set(a)

In [22]:
names = [t for t in a if re.search('[a-zA-Z]', t)]

In [23]:
len(names)

108

In [35]:
print(df[(df['author_id'].isin(names)) & (df['inbound'] == True)].shape[0] == 0)
print(df[~(df['author_id'].isin(names)) & (df['inbound'] == False)].shape[0] == 0)

True
True

In [84]:
print(df[(df['author_id'].isin(names))].shape[0])
print(df[~(df['author_id'].isin(names))].shape[0])

1273931
1537843

In [86]:
1273931/2811774

0.4530701969646209

In [37]:
df_comp = df[(df['author_id'].isin(names))]
df_comp.shape

(1273931, 7)

In [81]:
agg_comp = df_comp[['tweet_id','author_id']].groupby(by=['author_id'], as_index=False).agg(['count'])
agg_comp.columns = agg_comp.columns.droplevel(0)
agg_comp = agg_comp.reset_index()
sort_df = agg_comp.sort_values(by='count',ascending=False)

In [87]:
sort_df.head(10)

          author_id   count
8        AmazonHelp  169840
10     AppleSupport  106860
85     Uber_Support   56270
77     SpotifyCares   43265
40            Delta   42253
80            Tesco   38573
9       AmericanAir   36764
78      TMobileHelp   34317
99     comcastcares   33031
33  British_Airways   29361

In [88]:
sort_df.tail(10)

           author_id  count
59               MOO    630
95   ask_progressive    612
56      KeyBank_Help    555
21      AskRobinhood    432
103  mediatemplehelp    305
53           JackBox    266
69     OfficeSupport    218
15            AskDSC    210
34           CarlsJr    196
51    HotelTonightCX    152

In [97]:
# Check every in_response_to_tweet_id only contains one float value 
[t for t in df.in_response_to_tweet_id.tolist() if not isinstance(t, float)]

[]

In [118]:
# Number of dialogue
df.in_response_to_tweet_id.isnull().sum()

794335

In [205]:
amaz_df = df[df['author_id'] == 'AmazonHelp']

In [208]:
amaz_df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
181,269,AmazonHelp,False,2017-11-22 09:23:01,@115770 こんにちは、アマゾン公式です。Fire TV Stickが見れないというのは...,"270,271",272.0
184,273,AmazonHelp,False,2017-11-22 09:40:27,@115770 カスタマーサービスにてお問い合わせ済みとのことで、お手数をおかけいたしました...,274,271.0
186,275,AmazonHelp,False,2017-11-22 10:06:26,@115770 恐れ入ります。至らない点も多々あるかとは存じますが、今後ともどうぞよろしくお...,NaN,274.0
234,324,AmazonHelp,False,2017-11-22 09:06:00,@115792 ご不便をおかけしております。アプリをご利用でしょうか。強制停止&gt;端末の...,NaN,325.0
321,615,AmazonHelp,False,2017-10-31 22:29:00,@115820 I'm sorry we've let you down! Without ...,616,617.0

## Structure Data

In [328]:
df[df.tweet_id.isin([1299, 1298, 1300, 1301])].sort_values(by='created_at')[['author_id','created_at','text']]

           author_id          created_at                                               text
756           115951 2017-10-31 22:22:31  @115913 I'm a #TMobile customer getting the ru...
1824751  TMobileHelp 2017-10-31 22:23:27  @115951 @115913 We always want to keep you con...
757       sprintcare 2017-10-31 22:24:30  @115951 Hello please go to the link I will nee...
755       sprintcare 2017-10-31 22:25:24  @115951 Get started here: https://t.co/dYSbRQ3...

In [330]:
class tweet(object):
    """
    An object that holds a single tweet
    """
    def __init__(self, df_row):
        self.tweet_id = df_row.tweet_id
        self.author_id = df_row.author_id
        self.created_at = df_row.created_at
        self.text = df_row.text
        self.response_tweet_id = df_row.response_tweet_id
        self.in_response_to_tweet_id = df_row.in_response_to_tweet_id

In [331]:
class dialogue(object):
    """
    A structured object that organizes dialogue between customer and company agent
    """
    def __init__(self, init_tweet):
        self.tweets = [init_tweet]
        self.ids = {init_tweet.tweet_id}
        self.company = None

In [332]:
candidate = {}
heap = []

for i in df.index.values:
    if i % 10000 == 0:
        print('finished %d rows' % i)
    t = tweet(df.loc[i])
    key = t.in_response_to_tweet_id
    if np.isnan(key):
        heap.append(dialogue(t))
    else:
        if key in candidate:
            candidate[key].append(t)
        else:
            candidate[key] = [t]

# These two numbers should equal
print(len(heap) + sum([len(candidate[k]) for k in candidate]))
print(df.shape[0])

finished 0 rows
finished 10000 rows
finished 20000 rows
finished 30000 rows
finished 40000 rows
finished 50000 rows
finished 60000 rows
finished 70000 rows
finished 80000 rows
finished 90000 rows
finished 100000 rows
finished 110000 rows
finished 120000 rows
finished 130000 rows
finished 140000 rows
finished 150000 rows
finished 160000 rows
finished 170000 rows
finished 180000 rows
finished 190000 rows
finished 200000 rows
finished 210000 rows
finished 220000 rows
finished 230000 rows
finished 240000 rows
finished 250000 rows
finished 260000 rows
finished 270000 rows
finished 280000 rows
finished 290000 rows
finished 300000 rows
finished 310000 rows
finished 320000 rows
finished 330000 rows
finished 340000 rows
finished 350000 rows
finished 360000 rows
finished 370000 rows
finished 380000 rows
finished 390000 rows
finished 400000 rows
finished 410000 rows
finished 420000 rows
finished 430000 rows
finished 440000 rows
finished 450000 rows
finished 460000 rows
finished 470000 rows
finished 480000 rows
finished 490000 rows
finished 500000 rows
finished 510000 rows
finished 520000 rows
finished 530000 rows
finished 540000 rows
finished 550000 rows
finished 560000 rows
finished 570000 rows
finished 580000 rows
finished 590000 rows
finished 600000 rows
finished 610000 rows
finished 620000 rows
finished 630000 rows
finished 640000 rows
finished 650000 rows
finished 660000 rows
finished 670000 rows
finished 680000 rows
finished 690000 rows
finished 700000 rows
finished 710000 rows
finished 720000 rows
finished 730000 rows
finished 740000 rows
finished 750000 rows
finished 760000 rows
finished 770000 rows
finished 780000 rows
finished 790000 rows
finished 800000 rows
finished 810000 rows
finished 820000 rows
finished 830000 rows
finished 840000 rows
finished 850000 rows
finished 860000 rows
finished 870000 rows
finished 880000 rows
finished 890000 rows
finished 900000 rows
finished 910000 rows
finished 920000 rows
finished 930000 rows
finished 940000 rows
finished 950000 rows
finished 960000 rows
finished 970000 rows
finished 980000 rows
finished 990000 rows
finished 1000000 rows
finished 1010000 rows
finished 1020000 rows
finished 1030000 rows
finished 1040000 rows
finished 1050000 rows
finished 1060000 rows
finished 1070000 rows
finished 1080000 rows
finished 1090000 rows
finished 1100000 rows
finished 1110000 rows
finished 1120000 rows
finished 1130000 rows
finished 1140000 rows
finished 1150000 rows
finished 1160000 rows
finished 1170000 rows
finished 1180000 rows
finished 1190000 rows
finished 1200000 rows
finished 1210000 rows
finished 1220000 rows
finished 1230000 rows
finished 1240000 rows
finished 1250000 rows
finished 1260000 rows
finished 1270000 rows
finished 1280000 rows
finished 1290000 rows
finished 1300000 rows
finished 1310000 rows
finished 1320000 rows
finished 1330000 rows
finished 1340000 rows
finished 1350000 rows
finished 1360000 rows
finished 1370000 rows
finished 1380000 rows
finished 1390000 rows
finished 1400000 rows
finished 1410000 rows
finished 1420000 rows
finished 1430000 rows
finished 1440000 rows
finished 1450000 rows
finished 1460000 rows
finished 1470000 rows
finished 1480000 rows
finished 1490000 rows
finished 1500000 rows
finished 1510000 rows
finished 1520000 rows
finished 1530000 rows
finished 1540000 rows
finished 1550000 rows
finished 1560000 rows
finished 1570000 rows
finished 1580000 rows
finished 1590000 rows
finished 1600000 rows
finished 1610000 rows
finished 1620000 rows
finished 1630000 rows
finished 1640000 rows
finished 1650000 rows
finished 1660000 rows
finished 1670000 rows
finished 1680000 rows
finished 1690000 rows
finished 1700000 rows
finished 1710000 rows
finished 1720000 rows
finished 1730000 rows
finished 1740000 rows
finished 1750000 rows
finished 1760000 rows
finished 1770000 rows
finished 1780000 rows
finished 1790000 rows
finished 1800000 rows
finished 1810000 rows
finished 1820000 rows
finished 1830000 rows
finished 1840000 rows
finished 1850000 rows
finished 1860000 rows
finished 1870000 rows
finished 1880000 rows
finished 1890000 rows
finished 1900000 rows
finished 1910000 rows
finished 1920000 rows
finished 1930000 rows
finished 1940000 rows
finished 1950000 rows
finished 1960000 rows
finished 1970000 rows
finished 1980000 rows
finished 1990000 rows
finished 2000000 rows
finished 2010000 rows
finished 2020000 rows
finished 2030000 rows
finished 2040000 rows
finished 2050000 rows
finished 2060000 rows
finished 2070000 rows
finished 2080000 rows
finished 2090000 rows
finished 2100000 rows
finished 2110000 rows
finished 2120000 rows
finished 2130000 rows
finished 2140000 rows
finished 2150000 rows
finished 2160000 rows
finished 2170000 rows
finished 2180000 rows
finished 2190000 rows
finished 2200000 rows
finished 2210000 rows
finished 2220000 rows
finished 2230000 rows
finished 2240000 rows
finished 2250000 rows
finished 2260000 rows
finished 2270000 rows
finished 2280000 rows
finished 2290000 rows
finished 2300000 rows
finished 2310000 rows
finished 2320000 rows
finished 2330000 rows
finished 2340000 rows
finished 2350000 rows
finished 2360000 rows
finished 2370000 rows
finished 2380000 rows
finished 2390000 rows
finished 2400000 rows
finished 2410000 rows
finished 2420000 rows
finished 2430000 rows
finished 2440000 rows
finished 2450000 rows
finished 2460000 rows
finished 2470000 rows
finished 2480000 rows
finished 2490000 rows
finished 2500000 rows
finished 2510000 rows
finished 2520000 rows
finished 2530000 rows
finished 2540000 rows
finished 2550000 rows
finished 2560000 rows
finished 2570000 rows
finished 2580000 rows
finished 2590000 rows
finished 2600000 rows
finished 2610000 rows
finished 2620000 rows
finished 2630000 rows
finished 2640000 rows
finished 2650000 rows
finished 2660000 rows
finished 2670000 rows
finished 2680000 rows
finished 2690000 rows
finished 2700000 rows
finished 2710000 rows
finished 2720000 rows
finished 2730000 rows
finished 2740000 rows
finished 2750000 rows
finished 2760000 rows
finished 2770000 rows
finished 2780000 rows
finished 2790000 rows
finished 2800000 rows
finished 2810000 rows
2811774
2811774

In [333]:
# Assign candidate tweets to dialogues
for i in range(len(heap)):
    h = heap[i]
    waiting = {h.tweets[0].tweet_id}
    while len(waiting) > 0:
        tmp_waiting = []
        for idx in waiting:
            try:
                tmp_list = candidate[float(idx)]
                h.tweets += tmp_list
                h.ids.update([t.tweet_id for t in tmp_list])
                tmp_waiting += [t.tweet_id for t in tmp_list]
                del candidate[float(idx)]
            except:
                pass
        waiting = set(tmp_waiting)

In [334]:
# Number of tweets in a conversation on average
np.mean([len(h.tweets) for h in heap])

3.5197555187672709

In [336]:
min([len(h.tweets) for h in heap])

2

In [343]:
len([1 for h in heap if len(h.tweets) == 2])/len(heap)

0.5466031334386625

In [337]:
max([len(h.tweets) for h in heap])

1390

In [344]:
np.median([len(h.tweets) for h in heap])

2.0

In [350]:
def print_tweets(dialogue, show_id = True):
    """
    Helper function to print tweets in a dialogue
    """
    tweets = sorted(dialogue.tweets, key=lambda k: k.created_at) 
    for t in tweets:
        if show_id:
            print('tweet_id: %s, date: %s, author: %s, text: %s, response_tweet_id: %s, in_response_to_tweet_id: %s' % (t.tweet_id, str(t.created_at), t.author_id, t.text, str(t.response_tweet_id), str(t.in_response_to_tweet_id)))
        else:
            print('date: %s, author: %s, text: %s' % (str(t.created_at), t.author_id, t.text))

In [351]:
# Some of the dialogues suffer from loss of data
count = 0
for h in [_h for _h in heap if len(_h.tweets) == 2]:
    t1, t2 = h.tweets
    if t1.author_id in names or t2.author_id not in names:
        count += 1
        #print_tweets(h)
count / len([_h for _h in heap if len(_h.tweets) == 2])

0.00012206750102490637

In [355]:
# How many dialogues have more than one companies participating
count = 0
s = set()
for h in heap:
    if len(set([t.author_id for t in h.tweets if t.author_id in names])) > 1:
        count += 1
        s.add(h)
        #print_tweets(h)
count / len(heap)

0.0038510200356272855